$black: #1a1a1a;
$whiteTwo: #eeeeee;
$mango: #ffb225;
$mangoTwo: #ffb227;
$cloudyBlue: #b1d1cf;
$sunYellow: #fcd32a;
$brownishGrey: #666666;
$white: #ffffff;

$goldenrod: #fccb05;
$kelleyGreen: #00833f;
$tomatoTwo: #e84c33;
$eggshell: #fffbd8;
$lightGreyTwo: #d8dad7;
$goldenYellow: #ffc717;
$pumpkinOrange: #fa7b26;

$tomato: #ea4913;
$lavender: #c6b8f5;
$bluish: #2584b3;
$tomotoThree: #e0412a;
$blackThree: #222222;
$blackFour: #333333;
$pinkishGreyTwo: #ccc8c6;

$cerulean: #0565bb;
$darkBrown: #110e03;
$sand: #dabb5e;
$lightGrey: #ced1c8;
$midBlue: #245fc5;
$dark: #1c2027;
$whiteFour: #f1f1f1;
$blackTwo: #111111;
$brightOrangeTwo: #ff5500;
$copper: #c73c27;
$pinkishGrey: #d4c4ab;
$greyish: #a9a9a9;
$whiteThree: #f4f4f4;
$brightOrange: #f96400;
