@import "../../styles/abstracts/color";
@import "../../styles/abstracts/fonts";

.news {
  background-color: $goldenrod;
  padding-bottom: 142px;
  .btn {
    margin-top: 5.5rem;
  }
  &__header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 145px;
  }
  &__title {
    color: $darkBrown;
    height: 4.5rem;
    line-height: 4.5rem;
  }
  &__desc {
    margin-top: 3.9rem;
    font-family: "Noto Sans KR", sans-serif;
    color: $darkBrown;
    max-width: 665px;
    font-weight: 300;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 128px;
    justify-content: space-around;
  }
}
